Number (int & float)

In [25]:
x = 3
print(type(x))
print(x)
print(x+1)
print(x-1)
print(x*2)
print(x**2)

<class 'int'>
3
4
2
6
9

In [45]:
x+=1
print(x)
print(x*3)
print(x**3)

x *= 2
print(x)

y = 2.566
print(y)
print(type(y))
print(y, y + 1, y * 2, y ** 2)

255
765
16581375
510
2.566
<class 'float'>
2.566 3.566 5.132 6.584355999999999